*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 62.5%;
}

/* common */
.container{
    width: 70%;
    margin: 0 auto;
}

.bg_gray{
    background-color: lightgray;
}
/* header */
header{
    min-height: 400px;
    background-color: blue;   
}

nav{
    padding: 1em;
    /* Debug */
    background-color: aqua;
    

}

.option-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 40px;
    background-color: green;
}

.nav-option-logo{
    text-align: left;
    padding: .5em;

    /* debug */
    border: 1px dotted black;
    max-width: 100px;
    padding: .5em;
}

.nav-option-link ul{
    display: flex;
    list-style-type: none;

}

.nav-option-link ul li{
    padding: .5em 1.5em;
}

/* .nav-option-sign */

/* nav */

/* jumbotron */

.jumbotron-container{
    display: flex;
    justify-content: center;

    height: 100%;
    align-items: center;
}

.jumbotron{

    /* debug */
    background-color: purple;
    width: 40%;
    min-height: 200px;
}

/* main */
.section-main{
    min-height: 400px;
    display: flex ;
    align-items: center;
    padding: 4em;
    
}

.photo{
    min-height: 200px;
    flex-grow: 3;
    /* debug */
    background-color: red;
}

.text{
    min-height: 200px;
    flex-grow: 1;
    /* debug */
    background-color: lightcoral
}

.photo2{
    order:1;
}

.big-description{
    min-height: 300px;
        /* debug */
    background-color: magenta;
}

/* footer */

footer{
    background-color: black;
    color: white;
    padding: 2em;
    /* debug */
    height: 500px;
}

.top-footer{
    min-height: 200px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em;
    border-bottom: 1px solid white;
}

.about{
    width: 20%;
}

.link-container{
    width: 90%;
    display: flex;
    justify-content: space-around;

}

.links{
    margin: 0 1em;
}

.links ul{
    list-style-type: none;
}












